# Dependencies
**/node_modules/
node_modules/

# Production / Build output
**/dist/
dist/
dist-ssr/

# Environment variables
**/.env*

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*

# OS / IDE files
.DS_Store
.vscode/
.idea/
*.suo
